<h3>PageLoader @State.IsLoading</h3>

@if (State.IsLoading)
{
    <h3>Yo yo loading</h3>
}
else
{
    <h3>Yo yo not loading</h3>
}

@code {
    [CascadingParameter]
    private PageLoaderState State { get; set; } = default!;
}
