@page "/register"
@rendermode InteractiveServer

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<form>
    <label for="email">Email</label>
    <input name="email" type="email" />

    <label for="password">Password</label>
    <input name="password" type="password" />
</form>
